<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<testsuites>
		<testsuite name="Excel_mysql_test">
			<file>tests/test.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory suffix=".php">example</directory>
			<directory suffix=".php">PHPExcel</directory>
		</blacklist>
		<whitelist>
			<directory suffix=".php">library</directory>
		</whitelist>
	</filter>
</phpunit>